body > div:nth-child(5) {
  position: relative;
  z-index: 2;
}
body > div:nth-child(5) > div:nth-child(2) {
  display: flex;
  justify-content: center;
}
body > div:nth-child(5) > div:nth-child(2) > img {
  width: 35%;
}
body > div:nth-child(5) > div:first-child > a {
  width: 30%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
body > div:nth-child(5) > div:first-child > a > img {
  width: 100%;
}
body > div:nth-child(5) > div:first-child > p {
  font-size: 2.5vw;
}

body > div:nth-child(5) > div:first-child {
  width: 50%;
  display: flex;
  align-items: center;
}
body > div:nth-child(5) > div:first-child > a:not(:active) > img {
  animation: sushi_to-bowl 5s forwards linear;
  animation-play-state: paused;
}

body > div:nth-child(5) > div:first-child > a:active > img {
  animation: sushi_to-bowl 5s forwards linear;
  animation-play-state: running;
}

@keyframes sushi_to-bowl {
  0% {
    opacity: 1;
    transform: translate(0, 0) rotate(0) scale(1);
  }
  100% {
    opacity: 1;
    transform: translate(155%, 154%) rotate(16deg) scale(0.5);
  }
}
