body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  line-height: 1.5;
  font-size: 6em;
  cursor: url(../img/chopstick.png), auto; 
  overflow-x: hidden;
  color: var(--text-color);
}
body > label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

label > input {
  opacity: 0;
}
