body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  line-height: 1.5;
  font-size: 6em;
  /* TODO: MIDDELPUNT VAN CURSOR UITREKENEN */
  /* cursor: url(../img/chopstick.png), auto; */
  overflow-x: hidden;
  color: var(--text-color);
}
