body > div:first-child {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
body > div:first-child > div:first-child {
  flex: 1;
  background-color: #ffff00;
  border: 10px solid #ff0000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body > div:first-child > div:last-child {
  flex: 3;
  background: #3dbde8;
  border: 10px solid #ffffff;
}
body > div:first-child > div:first-child > img {
  height: calc(90% / 3);
  position: relative;
  z-index: 2;
}
body > div:first-child > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
body > div:first-child > div:last-child > img {
  position: absolute;
  margin: auto;
}
body > div:first-child > div:last-child > img:first-child {
  z-index: 1;
  height: 90%;
  transform-origin: 50%;
  animation: home_rotation 10s infinite linear;
}
body > div:first-child > div:last-child > img:last-child {
  z-index: 2;
  height: 40%;
  animation: home_rotation 5s infinite linear reverse;
}
@keyframes home_rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
