body > div:nth-child(2) {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  z-index: 1;
}

body > div:nth-child(2) p {
  height: calc(100vh / 6);
  width: calc(100vw / 10);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vh;
  opacity: 0;
  transition: opacity 2s ease 0.4s, transform 0.8s ease;
  transform: scale(1);
}

body > div:nth-child(2) p:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
  transform: scale(2) rotate(35deg);
}

body > div:nth-child(2) p:first-child:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
  transform: scale(1.5) rotate(10deg);
}
body > div:nth-child(2) p:nth-child(2n + 4):hover {
  opacity: 1;
  transition: opacity 0.2s ease;
  transform: scale(3) rotate(40deg);
}
body > div:nth-child(2) p:nth-child(3n + 6):hover {
  opacity: 1;
  transition: opacity 0.2s ease;
  transform: scale(2) rotate(-20deg);
}
body > div:nth-child(2) p:nth-child(4n + 8):hover {
  opacity: 1;
  transition: opacity 0.2s ease;
  transform: scale(1.25) rotate(-40deg);
}
body > div:nth-child(2) p:nth-child(5n + 10):hover {
  opacity: 1;
  transition: opacity 0.2s ease;
  transform: scale(2.1) rotate(32deg);
}
