body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  line-height: 1.5;
}

body > div {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
}

body > div > div {
  display: -webkit-box;
  display: flex;
}

/* LEFT */
body > div > div:first-child {
  -webkit-box-flex: 1;
  flex: 1;
  width: 25%;
  background-color: #ffff00;
  border: 10px solid #ff0000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

/* CHINESE CHARACTERS */
body > div > div:first-child > img {
  height: calc(100% / 3);
  margin: 1em;
}

/* RIGHT */
body > div > div:last-child {
  -webkit-box-flex: 3;
  flex: 3;
  width: 75%;
  background: #3dbde8;
  border: 10px solid #ffffff;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

/* TITLE */
body > div > div:last-child > div:first-child {
  font-size: 2em;
  padding-left: 0.3em;
  padding-top: 0.3em;
  -webkit-box-flex: 1;
  flex: 1;
}

body > div > div:last-child > div:first-child > h3 {
  font-weight: 400;
}

body > div > div:last-child > div:first-child > ul > li {
  font-weight: 300;
}

/* SVG'S */
body > div > div:last-child > div:nth-child(2) {
  position: absolute;
  height: 100%;
  width: 75%;
}

body > div > div:last-child > div:nth-child(2) > img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* SUN */
body > div > div:last-child > div:nth-child(2) > img:first-child {
  z-index: 1;
  height: 90%;
  /* -webkit-animation: sun-rotation 5s infinite;
  animation: sun-rotation 5s infinite; */
}

/* YIN YANG */
body > div > div:last-child > div:nth-child(2) > img:last-child {
  z-index: 2;
  height: 50%;
}

/* MENU */
body > div > div:last-child > div:last-child {
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 1em;
  -webkit-box-align: end;
  align-items: flex-end;
}

body > div > div:last-child > div:last-child > p {
  font-weight: 500;
  font-size: 2.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body > div > div:last-child > div:last-child > p > span {
  display: block;
  background-color: black;
  width: 100%;
  height: 5px;
}

/* ANIMATIONS */

/* @keyframes sun-rotation {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */
