body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  line-height: 1.5;
  font-size: 6em;
  display: flex;
  flex-wrap: wrap;
}

body > div {
  margin: 4px;
  /* border: 2px solid red; */
  height: 40vh;
  width: 40vh;
  display: grid;
  grid-template-columns: repeat(8, calc(40vh / 8));
  grid-template-rows: repeat(8, calc(40vh / 8));
}

body > div:first-child > div {
  background-color: lightcoral;
}

body > div:first-child > div:first-child {
  grid-row: 2;
  grid-column: 3;
  transition: width 4s;
  animation: width-animation 3s infinite linear;
}
body > div:first-child > div:nth-child(2) {
  grid-row: 1;
  grid-column: 3;
  transition: width 4s;
  animation: width-animation 3s infinite linear;
}
body > div:first-child > div:nth-child(3) {
  grid-row: 1;
  grid-column: 2;
}
body > div:first-child > div:nth-child(4) {
  grid-row: 1;
  grid-column: 1;
}
body > div:first-child > div:nth-child(5) {
  grid-row: 2;
  grid-column: 1;
}
body > div:first-child > div:nth-child(6) {
  grid-row: 3;
  grid-column: 1;
}
body > div:first-child > div:nth-child(7) {
  grid-row: 4;
  grid-column: 1;
}

body > div:first-child > div:nth-child(8) {
  grid-row: 4;
  grid-column: 2;
}
body > div:first-child > div:nth-child(9) {
  grid-row: 4;
  grid-column: 3;
  transition: width 4s;
  animation: width-animation 3s infinite linear;
}
body > div:first-child > div:nth-child(10) {
  grid-row: 5;
  grid-column: 3;
  transition: width 4s;
  animation: width-animation 3s infinite linear;
}
body > div:first-child > div:nth-child(11) {
  grid-row: 6;
  grid-column: 3;
  transition: width 4s;
  animation: width-animation 3s infinite linear;
}
body > div:first-child > div:nth-child(12) {
  grid-row: 7;
  grid-column: 3;
  transition: width 4s, height 4s;
  animation: width-animation 3s infinite linear,
    height-animation 3s infinite linear;
}
body > div:first-child > div:nth-child(13) {
  grid-row: 7;
  grid-column: 2;
  transition: height 4s;
  animation: height-animation 3s infinite linear;
}
body > div:first-child > div:nth-child(14) {
  grid-row: 7;
  grid-column: 1;
  transition: height 4s;
  animation: height-animation 3s infinite linear;
}
body > div:first-child > div:last-child {
  grid-row: 6;
  grid-column: 1;
}

body > div:first-child:hover > div {
  background-color: lightcyan;
}

@keyframes bg-animation {
  0% {
    background-color: lightcoral;
  }
  50% {
    background-color: lightcyan;
  }
  100% {
    background-color: lightcoral;
  }
}

@keyframes width-animation {
  0% {
    width: 100%;
  }
  50% {
    width: 300%;
  }
  100% {
    width: 100%;
  }
}
@keyframes height-animation {
  0% {
    height: 100%;
  }
  50% {
    height: 300%;
  }
  100% {
    height: 100%;
  }
}
/* 
body > div:first-child {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
}

body > div:first-child p {
  height: calc(100vh / 6);
  width: calc(100vw / 10);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vh;
  opacity: 0;
  transition: opacity 2s ease 0.4s, transform 0.8s ease;
  transform: scale(1);
}

body > div:first-child p:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
  transform: scale(2) rotate(35deg);
}

body > div:first-child p:first-child:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
  transform: scale(1.5) rotate(10deg);
}
body > div:first-child p:nth-child(2n + 4):hover {
  opacity: 1;
  transition: opacity 0.2s ease;
  transform: scale(3) rotate(40deg);
}
body > div:first-child p:nth-child(3n + 6):hover {
  opacity: 1;
  transition: opacity 0.2s ease;
  transform: scale(2) rotate(-20deg);
}
body > div:first-child p:nth-child(4n + 8):hover {
  opacity: 1;
  transition: opacity 0.2s ease;
  transform: scale(1.25) rotate(-40deg);
}
body > div:first-child p:nth-child(5n + 10):hover {
  opacity: 1;
  transition: opacity 0.2s ease;
  transform: scale(2.1) rotate(32deg);
}

.dried {
  position: relative;
  z-index: 1;
} */
