/* 
TO DO:
[] Change right div to two div's of the same size (title and menu) and the img/svg as bg below
[] Make a class for display: flex
*/

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  line-height: 1.5;
}

.wrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
}

.left {
  -webkit-box-flex: 1;
  flex: 1;
  width: 25%;
  background-color: #ffff00;
  border: 10px solid #ff0000;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.right {
  -webkit-box-flex: 3;
  flex: 3;
  width: 75%;
  background: #3dbde8;
  border: 10px solid #ffffff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.title {
  font-size: 2em;
  padding-left: 0.3em;
  padding-top: 0.3em;
  -webkit-box-flex: 1;
  flex: 1;
}

.title > h3 {
  font-weight: 400;
}

.title > ul > li {
  font-weight: 300;
}

.img {
  height: 100%;
  -webkit-box-flex: 1;
  flex: 2;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.sun-lines {
  width: 40%;
  position: absolute;
  z-index: 1;
}

.yinyang {
  width: 17%;
  position: absolute;
  z-index: 2;
}

.menu {
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 1em;
  text-align: end;
}

.menu > p {
  font-weight: 500;
  font-size: 2.5em;
}

.left > svg {
  height: 33%;
}
