body {
  background-color: #222;
}

.grid {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(auto-fill, 10vw);
  grid-auto-rows: 11.547vw;
}

#grid1 > div {
  color: #ff0;
  border: #ff0 1px solid;
}
#grid2 > div {
  color: #f0f;
  border: #f0f 1px solid;
  text-align: right;
}

#grid3 > div {
  color: #0ff;
  border: #0ff 1px solid;
  text-align: center;
}

#grid1 {
  position: absolute;
  transform-origin: 0 0;
  transform: skewY(-30deg);
}

#grid2 {
  position: absolute;
  transform-origin: 100% 0;
  transform: skewY(30deg);
}

#grid3 {
  position: absolute;
  width: 600vw;
  transform-origin: 500vw 0;
  transform: translatex(-500vw) rotatez(-60deg) skewY(30deg);
}

.red {
  background-color: red;
}
