body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  line-height: 1.5;
  cursor: url(../img/chopstick.png), auto;
}

body > div {
  height: 100%;
  width: 100%;
  background-color: red;
  filter: grayscale(100%);
}
