body > div:nth-child(3),
body > div:nth-child(4) {
  height: 40vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(17, calc(100vw / 17));
  grid-template-rows: repeat(6, calc(40vh / 6));
  position: relative;
  z-index: 2;
}
body > div:nth-child(4) {
  transform-origin: 0 0;
  transform: skew(50deg);
}
body > div:nth-child(3) > div {
  background-color: salmon;
}
body > div:nth-child(4) > div {
  background-color: blue;
}
/* LETTER S */
body > div:nth-child(3) > div:first-child,
body > div:nth-child(4) > div:first-child {
  grid-row: 1;
  grid-column: 1;
}
body > div:nth-child(3) > div:nth-child(2),
body > div:nth-child(4) > div:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}
body > div:nth-child(3) > div:nth-child(3),
body > div:nth-child(4) > div:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
}
body > div:nth-child(3) > div:nth-child(4),
body > div:nth-child(4) > div:nth-child(4) {
  grid-row: 2;
  grid-column: 1;
}
body > div:nth-child(3) > div:nth-child(5),
body > div:nth-child(4) > div:nth-child(5) {
  grid-row: 3;
  grid-column: 1;
}
body > div:nth-child(3) > div:nth-child(6),
body > div:nth-child(4) > div:nth-child(6) {
  grid-row: 3;
  grid-column: 2;
}
body > div:nth-child(3) > div:nth-child(7),
body > div:nth-child(4) > div:nth-child(7) {
  grid-row: 3;
  grid-column: 3;
}
body > div:nth-child(3) > div:nth-child(8),
body > div:nth-child(4) > div:nth-child(8) {
  grid-row: 4;
  grid-column: 3;
}
body > div:nth-child(3) > div:nth-child(9),
body > div:nth-child(4) > div:nth-child(9) {
  grid-row: 5;
  grid-column: 3;
}
body > div:nth-child(3) > div:nth-child(10),
body > div:nth-child(4) > div:nth-child(10) {
  grid-row: 6;
  grid-column: 3;
}
body > div:nth-child(3) > div:nth-child(11),
body > div:nth-child(4) > div:nth-child(10) {
  grid-row: 6;
  grid-column: 2;
}
body > div:nth-child(3) > div:nth-child(12),
body > div:nth-child(4) > div:nth-child(12) {
  grid-row: 6;
  grid-column: 1;
}
body > div:nth-child(3) > div:nth-child(13),
body > div:nth-child(4) > div:nth-child(13) {
  grid-row: 5;
  grid-column: 1;
}
/* LETTER U */
body > div:nth-child(3) > div:nth-child(14),
body > div:nth-child(4) > div:nth-child(14) {
  grid-row: 1;
  grid-column: 5;
}
body > div:nth-child(3) > div:nth-child(15),
body > div:nth-child(4) > div:nth-child(15) {
  grid-row: 2;
  grid-column: 5;
}
body > div:nth-child(3) > div:nth-child(16),
body > div:nth-child(4) > div:nth-child(16) {
  grid-row: 3;
  grid-column: 5;
}
body > div:nth-child(3) > div:nth-child(17),
body > div:nth-child(4) > div:nth-child(17) {
  grid-row: 4;
  grid-column: 5;
}
body > div:nth-child(3) > div:nth-child(18),
body > div:nth-child(4) > div:nth-child(18) {
  grid-row: 5;
  grid-column: 5;
}
body > div:nth-child(3) > div:nth-child(19),
body > div:nth-child(4) > div:nth-child(19) {
  grid-row: 6;
  grid-column: 5;
}
body > div:nth-child(3) > div:nth-child(20),
body > div:nth-child(4) > div:nth-child(20) {
  grid-row: 6;
  grid-column: 6;
}
body > div:nth-child(3) > div:nth-child(21),
body > div:nth-child(4) > div:nth-child(21) {
  grid-row: 6;
  grid-column: 7;
}
body > div:nth-child(3) > div:nth-child(22),
body > div:nth-child(4) > div:nth-child(22) {
  grid-row: 5;
  grid-column: 7;
}
body > div:nth-child(3) > div:nth-child(23),
body > div:nth-child(4) > div:nth-child(23) {
  grid-row: 4;
  grid-column: 7;
}
body > div:nth-child(3) > div:nth-child(24),
body > div:nth-child(4) > div:nth-child(24) {
  grid-row: 3;
  grid-column: 7;
}
body > div:nth-child(3) > div:nth-child(25),
body > div:nth-child(4) > div:nth-child(25) {
  grid-row: 2;
  grid-column: 7;
}
body > div:nth-child(3) > div:nth-child(26),
body > div:nth-child(4) > div:nth-child(26) {
  grid-row: 1;
  grid-column: 7;
}
/* LETTER S */
body > div:nth-child(3) > div:nth-child(27),
body > div:nth-child(4) > div:nth-child(27) {
  grid-row: 1;
  grid-column: 9;
}
body > div:nth-child(3) > div:nth-child(28),
body > div:nth-child(4) > div:nth-child(28) {
  grid-row: 1;
  grid-column: 10;
}
body > div:nth-child(3) > div:nth-child(29),
body > div:nth-child(4) > div:nth-child(29) {
  grid-row: 1;
  grid-column: 11;
}
body > div:nth-child(3) > div:nth-child(30),
body > div:nth-child(4) > div:nth-child(30) {
  grid-row: 2;
  grid-column: 9;
}
body > div:nth-child(3) > div:nth-child(31),
body > div:nth-child(4) > div:nth-child(31) {
  grid-row: 3;
  grid-column: 9;
}
body > div:nth-child(3) > div:nth-child(32),
body > div:nth-child(4) > div:nth-child(32) {
  grid-row: 3;
  grid-column: 10;
}
body > div:nth-child(3) > div:nth-child(33),
body > div:nth-child(4) > div:nth-child(33) {
  grid-row: 3;
  grid-column: 11;
}
body > div:nth-child(3) > div:nth-child(34),
body > div:nth-child(4) > div:nth-child(34) {
  grid-row: 4;
  grid-column: 11;
}
body > div:nth-child(3) > div:nth-child(35),
body > div:nth-child(4) > div:nth-child(35) {
  grid-row: 5;
  grid-column: 11;
}
body > div:nth-child(3) > div:nth-child(36),
body > div:nth-child(4) > div:nth-child(36) {
  grid-row: 6;
  grid-column: 11;
}
body > div:nth-child(3) > div:nth-child(37),
body > div:nth-child(4) > div:nth-child(37) {
  grid-row: 6;
  grid-column: 10;
}
body > div:nth-child(3) > div:nth-child(38),
body > div:nth-child(4) > div:nth-child(38) {
  grid-row: 6;
  grid-column: 9;
}
body > div:nth-child(3) > div:nth-child(39),
body > div:nth-child(4) > div:nth-child(39) {
  grid-row: 5;
  grid-column: 9;
}
/* LETTER H */
body > div:nth-child(3) > div:nth-child(40),
body > div:nth-child(4) > div:nth-child(40) {
  grid-row: 1;
  grid-column: 13;
}
body > div:nth-child(3) > div:nth-child(41),
body > div:nth-child(4) > div:nth-child(41) {
  grid-row: 2;
  grid-column: 13;
}
body > div:nth-child(3) > div:nth-child(42),
body > div:nth-child(4) > div:nth-child(42) {
  grid-row: 3;
  grid-column: 13;
}
body > div:nth-child(3) > div:nth-child(43),
body > div:nth-child(4) > div:nth-child(43) {
  grid-row: 4;
  grid-column: 13;
}
body > div:nth-child(3) > div:nth-child(44),
body > div:nth-child(4) > div:nth-child(44) {
  grid-row: 5;
  grid-column: 13;
}
body > div:nth-child(3) > div:nth-child(45),
body > div:nth-child(4) > div:nth-child(45) {
  grid-row: 6;
  grid-column: 13;
}
body > div:nth-child(3) > div:nth-child(46),
body > div:nth-child(4) > div:nth-child(46) {
  grid-row: 3;
  grid-column: 14;
}
body > div:nth-child(3) > div:nth-child(47),
body > div:nth-child(4) > div:nth-child(47) {
  grid-row: 4;
  grid-column: 14;
}
body > div:nth-child(3) > div:nth-child(48),
body > div:nth-child(4) > div:nth-child(48) {
  grid-row: 1;
  grid-column: 15;
}
body > div:nth-child(3) > div:nth-child(49),
body > div:nth-child(4) > div:nth-child(49) {
  grid-row: 2;
  grid-column: 15;
}
body > div:nth-child(3) > div:nth-child(50),
body > div:nth-child(4) > div:nth-child(50) {
  grid-row: 3;
  grid-column: 15;
}
body > div:nth-child(3) > div:nth-child(51),
body > div:nth-child(4) > div:nth-child(51) {
  grid-row: 4;
  grid-column: 15;
}
body > div:nth-child(3) > div:nth-child(52),
body > div:nth-child(4) > div:nth-child(52) {
  grid-row: 5;
  grid-column: 15;
}
body > div:nth-child(3) > div:nth-child(53),
body > div:nth-child(4) > div:nth-child(53) {
  grid-row: 6;
  grid-column: 15;
}
/* LETTER I */
body > div:nth-child(3) > div:nth-child(54),
body > div:nth-child(4) > div:nth-child(54) {
  grid-row: 1;
  grid-column: 17;
}
body > div:nth-child(3) > div:nth-child(55),
body > div:nth-child(4) > div:nth-child(55) {
  grid-row: 2;
  grid-column: 17;
}
body > div:nth-child(3) > div:nth-child(56),
body > div:nth-child(4) > div:nth-child(56) {
  grid-row: 3;
  grid-column: 17;
}
body > div:nth-child(3) > div:nth-child(57),
body > div:nth-child(4) > div:nth-child(57) {
  grid-row: 4;
  grid-column: 17;
}
body > div:nth-child(3) > div:nth-child(58),
body > div:nth-child(4) > div:nth-child(58) {
  grid-row: 5;
  grid-column: 17;
}
body > div:nth-child(3) > div:nth-child(59),
body > div:nth-child(4) > div:nth-child(59) {
  grid-row: 6;
  grid-column: 17;
}
